<div id="page" class="login">
  <div class="section full-section">
    <div class="form-wrapper">
      <div class="form-inner-wrapper">
        <div class="content">
          <%= form_for @user, :url => password_reset_url(:secure => secure?), :method => :put do |f| %>
            <div class="field-list clear">
              <div class="form-item field">
                <%= f.label :password, "New Password", :class=>"title" %>
                <%= f.password_field :password, :class=>"field-element" %>
              </div>
              <div class="form-button-wrapper form-button-wrapper--align-left">
                <input type="submit" value="Update password and log in" class="button sqs-system-button sqs-editable-button">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>