.DS_Store
*.log
log/*.log
log/*
.log
tmp/*
.idea
*.iml
public/photos
public/files
db/sphinx/*
config/*.sphinx.conf
config/database.yml
public/uploads
public/stylesheets/merged-*.css
public/stylesheets/merged_*.css
public/javascripts/merged-*.js
public/javascripts/common-application.js
pgdump/*
*.rdb
rdoc/*
README
REVISION
config/ey_services_config_deploy.yml
config/hls-ssh-wrapper
config/memcached.yml
config/mongrel_cluster.yml
config/sphinx*
ey_bundler_binstubs/
public/system
.bundle/
