<article><h1 class="entry-title" itemprop="headline">Privacy Policy</h1>

<p>I respect your online privacy while you're here at the angelboy.com website. The following discloses the information gathering and dissemination practices for this website.</p>

<h1 class="entry-title" itemprop="headline">Log Files</h1>

<p>Like most standard websites, this website uses log files. These include: Internet Protocol addresses (IP addresses), browser type, Internet Service Provider (ISP), referring/exit pages, platform type, date/time stamp, and the number of clicks to analyze trends, administer the site, track user movement in the aggregate, and to gather broad demographic information for aggregate use. IP addresses, etc., are not linked to personally identifiable information.</p>

<h1 class="entry-title" itemprop="headline">Visitor Contact Information</h1>

<p>No personal information is collected from visitors without their knowledge and consent. Email addresses are collected from visitors who choose to communicate with me via email, contact form or leave comments on the site. Visitors may also provide links to their websites, responses to reader polls or other information when using the site. </p>

<p>The information I collect is used to improve the content of our web page and to contact readers for personal communication. I do not sell or distribute any contact information to other businesses or organizations. This means your email and postal mail addresses will not be given to others who might want to sell you stuff. Any email or postal mail from my website to promote our site or services will be infrequent and provide you with an option to request that no further emails be sent.</p>

<h1 class="entry-title" itemprop="headline">Pictures</h1>

<p>Pictures and drawings submitted to the website remain the sole property of their artist and creator. Please do not upload images by other artists.</p>

<h1 class="entry-title" itemprop="headline">Comments</h1>

<p>Visitors are encouraged to leave comments on any post that allows commenting. The moderators aren't responsible for whatever comments other people may post, but we'll try our best to maintain a good healthy community.</p>


<h1 class="entry-title" itemprop="headline">Webmaster Contact Information</h1>

<p>If you have any questions or suggestions regarding the angelboy.com privacy policy, please feel free to contact me at info@angelboy.com.</p>
</article>