<p>Check it out! A new post has been made to <%=Settings.host%> by <b><%=@post.creator%></b>. If you would like to see it, click here:</p>

<!-- button -->
<table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <%= link_to Settings.host, Settings.host %>
    </td>
  </tr>
</table>
<!-- /button -->

<p>Go look!</p>
