<p>Check it out! A new post has been made to <%=Settings.host%> by <b><%=@post.creator%></b>. 

<p>Click here to see it:</p>


<!-- button -->
<table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <%= link_to Settings.host, Settings.host %>
    </td>
  </tr>
</table>
<!-- /button -->

<p>Go look! I won't send you any more emails until you check.</p>
