<!--<div class="sqs-block image-block sqs-block-image">
    <div class="sqs-block-content">
        <div class="image-block-outer-wrapper layout-caption-below">
            <div style="max-width:800.0px;" class="intrinsic">
                <div class="image-block-wrapper has-aspect-ratio" style="padding-bottom:75.0%;">
                    <img class="thumb-image loaded" style="top: 0%; left: 0; position: absolute;  " src="<%=src%>?format=750w">
                </div>
                
            
            </div>
    
        </div>
    </div>
</div> -->
<div class="image-holder">
  <img src="<%=src%>">
</div>