   <div class="article-list hfeed">




  <article class="hentry author-nicole-beguesse post-type-text article-index-4" id="article-56606695e4b084db7ba07c9a" data-item-id="56606695e4b084db7ba07c9a">

    <!--POST HEADER-->

    <header>
      <h1 class="entry-title" itemprop="headline">
        
          <a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked-2">Anonymous asked:</a>
        
      </h1>
      <div class="meta">
        <span class="date"><time class="published dt-published" datetime="2015-01-20" itemprop="datePublished" pubdate=""><a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked-2">January 20, 2015</a></time></span>
        <span class="author"><a href="http://angelboy.com/reactions/?author=565dfdace4b029382bba175d" rel="author">Nicole Beguesse</a></span>
      </div>
    </header>

    <!--SPECIAL CONTENT-->

    

    <!--POST BODY-->

    
      <div class="body entry-content"><div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1449158353934" id="item-56606695e4b084db7ba07c9a"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0b56ace51124632ecc12"><div class="sqs-block-content"><blockquote><span style="font-size:14px">Hello! I just want to say that this manga is truly a master piece! I remember being at the Tampa Bay Comic Con and seeing the few colored pages of the manga. Its like I fell in love with the manga at the first sight I saw it and I hope to be getting Vol.2 as soon as possible! Thank you and I hope to see much more progress in the future. Keep up the great work and thank you again.</span></blockquote><p style="text-align:left">--submitted via Tumblr</p></div></div></div></div></div></div>
      
    


    <!--POST FOOTER-->

    <footer class="clear">
      <div class="meta">

        

        

        <div class="second meta-row">
          
          <span class="squarespace-social-buttons inline-style" data-system-data-id="" data-asset-url="http://static1.squarespace.com/static/565dfdade4b09e21a63cdc87/565e0a46e4b09a621bfc4187/56606695e4b084db7ba07c9a/1453491217891/" data-record-type="1" data-full-url="/reactions/2015/12/3/anonymous-asked-2" data-title="Anonymous asked:"><div id="social-yui_3_17_2_1_1461206594260_341" class="yui3-widget yui3-socialbutton"><div id="yui_3_17_2_1_1461206594260_394" class="yui3-socialbutton-content"><div class="ss-social-button-wrapper"><div class="ss-social-button"><span class="ss-social-button-icon"></span>Share</div></div><div class="ss-social-list-wrapper"><div class="ss-social-button-list"></div></div></div></div></span>
          
  <span class="sqs-simple-like" data-item-id="56606695e4b084db7ba07c9a" data-like-count="0" id="yui_3_17_2_1_1461206594260_322">
    <span class="like-icon"></span>
    <span class="like-count">0 Likes</span>
  </span>


        </div>

      </div>
    </footer>


  </article>



  <article class="hentry author-nicole-beguesse post-type-text article-index-5" id="article-5660656ce4b071b0153ac8db" data-item-id="5660656ce4b071b0153ac8db">

    <!--POST HEADER-->

    <header>
      <h1 class="entry-title" itemprop="headline">
        
          <a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked-1">Anonymous asked:</a>
        
      </h1>
      <div class="meta">
        <span class="date"><time class="published dt-published" datetime="2014-12-15" itemprop="datePublished" pubdate=""><a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked-1">December 15, 2014</a></time></span>
        <span class="author"><a href="http://angelboy.com/reactions/?author=565dfdace4b029382bba175d" rel="author">Nicole Beguesse</a></span>
      </div>
    </header>

    <!--SPECIAL CONTENT-->

    

    <!--POST BODY-->

    
      <div class="body entry-content"><div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1449157996251" id="item-5660656ce4b071b0153ac8db"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f4bb43b967b1de38ec4f"><div class="sqs-block-content"><blockquote><span style="font-size:14px">I met you at Jekyll Island Comic Con and honestly I loved this!!! Ever since I saw the cover I was drawn in, I couldn't wait to get home so I could sit down and read it!!! I love the art!! I can draw but I have no patience or story making capabilities to do what wonderful thing you have done!! I can't wait to pick up vol. 2!! I want to collect them all!! And I loved the ending to vol. 1!! I just had a huge grin on my face!! Keep this up!! you're awesome!!</span></blockquote><p><span style="font-size:14px">--submitted via Tumblr</span></p></div></div></div></div></div></div>
      
    


    <!--POST FOOTER-->

    <footer class="clear">
      <div class="meta">

        

        

        <div class="second meta-row">
          
          <span class="squarespace-social-buttons inline-style" data-system-data-id="" data-asset-url="http://static1.squarespace.com/static/565dfdade4b09e21a63cdc87/565e0a46e4b09a621bfc4187/5660656ce4b071b0153ac8db/1453489976259/" data-record-type="1" data-full-url="/reactions/2015/12/3/anonymous-asked-1" data-title="Anonymous asked:"><div id="social-yui_3_17_2_1_1461206594260_343" class="yui3-widget yui3-socialbutton"><div id="yui_3_17_2_1_1461206594260_408" class="yui3-socialbutton-content"><div class="ss-social-button-wrapper"><div class="ss-social-button"><span class="ss-social-button-icon"></span>Share</div></div><div class="ss-social-list-wrapper"><div class="ss-social-button-list"></div></div></div></div></span>
          
  <span class="sqs-simple-like" data-item-id="5660656ce4b071b0153ac8db" data-like-count="0" id="yui_3_17_2_1_1461206594260_325">
    <span class="like-icon"></span>
    <span class="like-count">0 Likes</span>
  </span>


        </div>

      </div>
    </footer>


  </article>



  <article class="hentry author-nicole-beguesse post-type-text article-index-6" id="article-566064f6e4b0672386420966" data-item-id="566064f6e4b0672386420966">

    <!--POST HEADER-->

    <header>
      <h1 class="entry-title" itemprop="headline">
        
          <a href="http://angelboy.com/reactions/2015/12/3/fantastic-work">FANTASTIC WORK!</a>
        
      </h1>
      <div class="meta">
        <span class="date"><time class="published dt-published" datetime="2014-12-12" itemprop="datePublished" pubdate=""><a href="http://angelboy.com/reactions/2015/12/3/fantastic-work">December 12, 2014</a></time></span>
        <span class="author"><a href="http://angelboy.com/reactions/?author=565dfdace4b029382bba175d" rel="author">Nicole Beguesse</a></span>
      </div>
    </header>

    <!--SPECIAL CONTENT-->

    

    <!--POST BODY-->

    
      <div class="body entry-content"><div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1449157937116" id="item-566064f6e4b0672386420966"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-dcd82ea271a26dad0980"><div class="sqs-block-content"><blockquote>This is an awesome collection of art! I love the tone of your work!</blockquote><blockquote>By: Rob</blockquote></div></div></div></div></div></div>
      
    


    <!--POST FOOTER-->

    <footer class="clear">
      <div class="meta">

        

        

        <div class="second meta-row">
          
          <span class="squarespace-social-buttons inline-style" data-system-data-id="" data-asset-url="http://static1.squarespace.com/static/565dfdade4b09e21a63cdc87/565e0a46e4b09a621bfc4187/566064f6e4b0672386420966/1449157937362/" data-record-type="1" data-full-url="/reactions/2015/12/3/fantastic-work" data-title="FANTASTIC WORK!"><div id="social-yui_3_17_2_1_1461206594260_345" class="yui3-widget yui3-socialbutton"><div id="yui_3_17_2_1_1461206594260_422" class="yui3-socialbutton-content"><div class="ss-social-button-wrapper"><div class="ss-social-button"><span class="ss-social-button-icon"></span>Share</div></div><div class="ss-social-list-wrapper"><div class="ss-social-button-list"></div></div></div></div></span>
          
  <span class="sqs-simple-like" data-item-id="566064f6e4b0672386420966" data-like-count="0" id="yui_3_17_2_1_1461206594260_328">
    <span class="like-icon"></span>
    <span class="like-count">0 Likes</span>
  </span>


        </div>

      </div>
    </footer>


  </article>



  <article class="hentry author-nicole-beguesse post-type-text article-index-7" id="article-566063afe4b0a6907102fe08" data-item-id="566063afe4b0a6907102fe08">

    <!--POST HEADER-->

    <header>
      <h1 class="entry-title" itemprop="headline">
        
          <a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked">Anonymous asked:</a>
        
      </h1>
      <div class="meta">
        <span class="date"><time class="published dt-published" datetime="2014-10-13" itemprop="datePublished" pubdate=""><a href="http://angelboy.com/reactions/2015/12/3/anonymous-asked">October 13, 2014</a></time></span>
        <span class="author"><a href="http://angelboy.com/reactions/?author=565dfdace4b029382bba175d" rel="author">Nicole Beguesse</a></span>
      </div>
    </header>

    <!--SPECIAL CONTENT-->

    

    <!--POST BODY-->

    
      <div class="body entry-content"><div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1449157849259" id="item-566063afe4b0a6907102fe08"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a0c1e7b25d94b33795d4"><div class="sqs-block-content"><blockquote>Hii got volume 1 is volume 2 ever going to be published? I really loved the 1st one and i think i would really like to read volume 2. Thank you for a great story</blockquote><p>-- submitted via Tumblr</p></div></div></div></div></div></div>
      
    


    <!--POST FOOTER-->

    <footer class="clear">
      <div class="meta">

        

        

        <div class="second meta-row">
          
          <span class="squarespace-social-buttons inline-style" data-system-data-id="" data-asset-url="http://static1.squarespace.com/static/565dfdade4b09e21a63cdc87/565e0a46e4b09a621bfc4187/566063afe4b0a6907102fe08/1453490006346/" data-record-type="1" data-full-url="/reactions/2015/12/3/anonymous-asked" data-title="Anonymous asked:"><div id="social-yui_3_17_2_1_1461206594260_347" class="yui3-widget yui3-socialbutton"><div id="yui_3_17_2_1_1461206594260_436" class="yui3-socialbutton-content"><div class="ss-social-button-wrapper"><div class="ss-social-button"><span class="ss-social-button-icon"></span>Share</div></div><div class="ss-social-list-wrapper"><div class="ss-social-button-list"></div></div></div></div></span>
          
  <span class="sqs-simple-like" data-item-id="566063afe4b0a6907102fe08" data-like-count="0" id="yui_3_17_2_1_1461206594260_331">
    <span class="like-icon"></span>
    <span class="like-count">0 Likes</span>
  </span>


        </div>

      </div>
    </footer>


  </article>




<!--PAGINATION-->



</div>
